﻿/* ngDialog */
.ngdialog.ngdialog-theme-default .ngdialog-content {
    position: absolute;
    top: 25px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 700px;
}

.redBorder {
    border: 1px solid red;
}

h2.text-center {
    margin-top: -5px;
}
