* {
	padding: 0;
	margin: 0;
}

#gallery {
	background-color: DarkSlateGray;
	overflow: hidden;
}

.vAlignHelper {
	display: inline-block;
    height: 100%;
    vertical-align: middle;	
}

.txtTopLeft {
    color: white; 
    margin-top:10px; 
    float: left;
    display: none;
}

#photoContainer {
	width: 625px;
	margin: 0 auto;
}

#photoContainer .row {
	clear: both;
	height: 125px;
}

#photoContainer .row .column {
	float: left;
	text-align: center;
	padding: 5px;
	width: 115px;
	height: 115px;
}

#photoContainer .row .column img {
	max-width: 100px;
	max-height: 100px;
    -webkit-transition: max-height 1.5s;
    transition: max-height 1.5s;
    border: 5px solid white;
    vertical-align: middle;
    /*transform: rotate(-3deg);*/
}