*{
	margin: 0;
	padding: 0;
}

html {
	background-color: DarkGreen;
	color: yellow;
}

#container {
	width: 70%;
	height: auto;
	margin: 0 auto;
	border: 5px solid MediumSpringGreen;
	text-align: center;
}

.row {
	height: 230px;
}

.rowBig {
	height: 335px;
}

.horizontalBlackLine {
	width: 100%;
	background-color: black;
	height: 5px;
	opacity: 0.5;
}

.verticalBlackLine {
	height: 100%;
	background-color: black;
	width: 0.5%;
	opacity: 0.5;	
	float: left;
}

.header {
	font-size: 20px;
	font-family: arial;
	border-top: 5px solid MediumSpringGreen;
	border-bottom: 10px solid MediumSpringGreen;
	height: 35px;
}

.header p {
	padding: 5px;
}

.column {
	width: 33%;
	float: left;
	font-size: 13px;
}

.column p, .doubleColumn p {
	padding: 5px;
}

.column img {
	width: 70%;
	height: auto;
	border: 10px solid yellow;
	text-align: center;
	margin: 13px;
}

.column img:hover {
	border-color: red;
}

.doubleColumn {
	width: 66%;
	float: left;
	font-size: 13px;
}

.table {
	margin: 0 auto;
	background-color: white;
	color: DarkGreen;	
	width: 90%;
}

.table td {
	border: 2px solid DarkGreen;
}

.table td:first-child {
	color: black;
}