﻿<!DOCTYPE html>
<html data-ng-app="testApp">
<head>
    <meta charset="utf-8" />
    <title>TestApp</title>
    <!-- styles -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="css/ngDialog.min.css" />
    <link rel="stylesheet" href="css/ngDialog-theme-default.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- libs -->
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-messages.min.js"></script>
    <script type="text/javascript" src="js/lib/ui-bootstrap-0.12.0.js"></script>
    <script type="text/javascript" src="js/lib/ui-bootstrap-tpls-0.12.0.js"></script>
    <script type="text/javascript" src="js/lib/ngDialog.min.js"></script>
    <!-- module -->
    <script type="text/javascript" src="js/app.js"></script>
    <!-- services-->
    <script type="text/javascript" src="js/services/validationService.js"></script>
    <script type="text/javascript" src="js/services/userFactory.js"></script>
    <script type="text/javascript" src="js/services/testFactory.js"></script>
    <script type="text/javascript" src="js/services/scenarioFactory.js"></script>
    <script type="text/javascript" src="js/services/authService.js"></script>
    <script type="text/javascript" src="js/services/testService.js"></script>
    <!-- directives -->
    <script type="text/javascript" src="js/directives/repeatPassword.js"></script>
    <!-- controllers -->
    <script type="text/javascript" src="js/controllers/loginController.js"></script>
    <script type="text/javascript" src="js/controllers/userController.js"></script>
    <script type="text/javascript" src="js/controllers/addUserController.js"></script>
    <script type="text/javascript" src="js/controllers/signupController.js"></script>
    <script type="text/javascript" src="js/controllers/testController.js"></script>
    <script type="text/javascript" src="js/controllers/addTestController.js"></script>
    <script type="text/javascript" src="js/controllers/scenarioController.js"></script>
    <script type="text/javascript" src="js/controllers/addScenarioController.js"></script>
    <script type="text/javascript" src="js/controllers/shareScenarioController.js"></script>
    <script type="text/javascript" src="js/controllers/expectsController.js"></script>
    <script type="text/javascript" src="js/controllers/addExpectsController.js"></script>
    <script type="text/javascript" src="js/controllers/mainController.js"></script>
</head>
<body data-ng-controller="MainController">
    <div data-ng-show="isLoggedIn">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navHead">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">TestApp</a>
                </div>
                <div class="collapse navbar-collapse" id="navHead">
                    <ul class="nav navbar-nav">
                        <li><a href="/#/tests">Tests</a></li>
                        <li><a href="/#/scenarios">Scenarios</a></li>
                        <li><a href="/#/expects">Expects</a></li>
                        <li data-ng-show="isAdmin"><a href="/#/users">Users</a></li>
                        <li><a href="" data-ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div data-ng-view>
    </div>
</body>
</html>