﻿<div class="panel-body">
    <h2 class="text-center">Edit Expects</h2>
    <form method="post">
        <div class="input-group form-group" data-ng-repeat="expect in test.expects">
            <input class="form-control input-lg" type="text" value="{{ expect }}" data-ng-disabled="true" />
            <span class="input-group-btn">
                <button class="btn btn-danger input-lg" data-ng-click="removeExpect($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
        </div>
        <div class="row">
            <select class="col-md-3" data-ng-model="currentExpect1">
                <option value="length">length</option>
                <option value="first">first</option>
                <option value="last">last</option>
            </select>
            <select class="col-md-3" data-ng-model="currentExpect2">
                <option value="==">==</option>
                <option value=">">></option>
                <option value="<"><</option>
            </select>
            <input class="col-md-4" data-ng-model="currentExpect3" />
            <span class="col-md-2">
                <button class="btn btn-success input-lg" data-ng-click="addExpect()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </div>
        <input type="submit" data-ng-click="save(test)" class="btn btn-lg btn-block btn-success" value="Save" />
    </form>
</div>