﻿<div class="panel-body">
    <h2 class="text-center">{{ headText }}</h2>
    <form method="post" name="addScenarioForm">
        <div class="form-group">
            <input class="form-control input-lg" type="text" name="name"
                   data-ng-model="scenario.name" placeholder="Naam" required autofocus>
        </div>
        <div class="input-group form-group">
            <select class="form-control input-lg" data-ng-model="selectedTest"
                    ng-options="test as test.name for test in tests.doc">
            </select>
            <span class="input-group-btn">
                <button class="btn btn-success input-lg" data-ng-click="addTest()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </div>
        <div class="input-group form-group" data-ng-repeat="test in scenario.tests">
            <input class="form-control input-lg" type="text" value="{{ test.name }}" data-ng-disabled="true" />
            <span class="input-group-btn">
                <button class="btn btn-danger input-lg" data-ng-click="removeTest($index)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
        </div>
        <input type="hidden" value="ngDialogData.scenario._id" data-ng-model="scenario._id" />
        <input type="submit" data-ng-click="save(scenario)" data-ng-disabled="addScenarioForm.$invalid"
               class="btn btn-lg btn-block btn-success" value="{{ btnSave }}" />
    </form>
</div>
