﻿<div class="panel-body">
    <h2 class="text-center">{{ headText }}</h2>
    <form method="post" name="addTestForm">
        <div class="form-group">
            <input class="form-control input-lg" type="text" name="name"
                   data-ng-model="test.name" placeholder="Naam" required autofocus>
        </div>
        <div class="form-group">
            <input class="form-control input-lg" type="text" name="url" data-ng-class="{'redBorder': urlIsInvalid}" 
                   data-ng-change="validateUrl()" data-ng-model="test.url" placeholder="Url" required autofocus>
        </div>
        <div class="form-group">
            <input class="form-control input-lg" type="text" name="method"
                   data-ng-model="test.method" placeholder="Method">
        </div>
        <div class="form-group">
            <textarea class="form-control input-lg" type="text" name="data"
                   data-ng-model="test.data" placeholder="Data"></textarea>
        </div>
        <div class="form-group">
            <textarea class="form-control input-lg" type="text" name="headers"
                   data-ng-model="test.headers" placeholder="Headers"></textarea>
        </div>
        <div class="form-group col-md-6">
            <input class="form-control input-lg" type="text" name="duration" data-ng-class="{'redBorder': durationIsInvalid}"
                   data-ng-change="validateDuration()" data-ng-model="test.duration" placeholder="Duration">
        </div>
        <div class="form-group col-md-6">
            <input class="form-control input-lg" type="text" name="timeout" data-ng-class="{'redBorder': timeoutIsInvalid}"
                   data-ng-change="validateTimeout()" data-ng-model="test.timeout" placeholder="Timeout">
        </div>
        <input type="hidden" value="ngDialogData.test._id" data-ng-model="test._id" />
        <input type="submit" data-ng-click="save(test)" data-ng-disabled="addTestForm.$invalid"
               class="btn btn-lg btn-block btn-success" value="{{ btnSave }}" />
    </form>
</div>
