﻿<div class="panel-body">
    <h2 class="text-center">Gebruiker {{ headText }}</h2>
    <form method="post" name="addUserForm">
        <div class="form-group">
            <input class="form-control input-lg" type="text" name="email" data-ng-class="{'redBorder': emailIsInvalid}"
                   data-ng-change="validateEmail()" data-ng-model="user.email" placeholder="Email" required autofocus>
        </div>
        <div class="form-group">
            <input class="form-control input-lg" type="text" name="name"
                   data-ng-model="user.name" placeholder="Naam" required>
        </div>
        <div class="form-group">
            <input class="form-control input-lg" type="password" name="password"
                   data-ng-model="user.password" placeholder="Wachtwoord" required>
        </div>
        <div class="form-group">
            <label>Is Administrator:</label>
            <input type="checkbox" name="isAdmin" data-ng-model="user.isAdmin" />
        </div>
        <input type="hidden" value="ngDialogData.user._id" data-ng-model="user._id" />
        <input type="submit" data-ng-click="save(user)" data-ng-disabled="addUserForm.$invalid"
                class="btn btn-lg btn-block btn-success" value="{{ headText }}" />
    </form>
</div>
