﻿<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Naam</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="test in tests.doc">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ test.name }}</td>
                    <td>
                        <button class="btn btn-success" data-ng-click="showAdd(test)">Bewerken</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>