﻿<div class="container">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="scenario in scenarios.doc">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ scenario.name }}</td>
                    <td>
                        <button class="btn btn-danger" data-ng-click="delete(scenario)">Verwijderen</button>
                        <button class="btn btn-success" data-ng-click="showAdd(scenario)">Bewerken</button>
                        <button class="btn btn-primary" data-ng-click="doScenario(scenario)">Test</button>
                        <button class="btn btn-primary" data-ng-click="share(scenario)">Share</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <button class="btn btn-success" data-ng-click="showAdd()">Toevoegen</button>
    </div>
</div>