﻿<div class="panel-body">
    <h2 class="text-center">Share</h2>
    <form method="post" name="shareScenarioForm">
        <div class="form-group">
            <select class="form-control input-lg" data-ng-model="selectedScenario"
                    ng-options="scenario as scenario.name for scenario in scenarios.doc"></select>
        </div>
        <div class="form-group">
            <select class="form-control input-lg" data-ng-model="selectedUser"
                    ng-options="user as user.email for user in users.doc"></select>
        </div>
        <input type="submit" data-ng-click="share()" data-ng-disabled="shareScenarioForm.$invalid"
               class="btn btn-lg btn-block btn-success" value="Share" />
    </form>
</div>