﻿<div class="container">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Naam</th>
                    <th>Url</th>
                    <th>Method</th>
                    <th>Data</th>
                    <th>Headers</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="test in tests.doc">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ test.name }}</td>
                    <td>{{ test.url }}</td>
                    <td>{{ test.method }}</td>
                    <td>{{ test.data }}</td>
                    <td>{{ test.headers }}</td>
                    <td>
                        <button class="btn btn-danger" data-ng-click="delete(test)">Verwijderen</button>
                        <button class="btn btn-success" data-ng-click="showAdd(test)">Bewerken</button>
                        <button class="btn btn-primary" data-ng-click="copy(test)">Copy</button>
                        <button class="btn btn-primary" data-ng-click="doTest(test)">Test</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <button class="btn btn-success" data-ng-click="showAdd()">Toevoegen</button>
    </div>
</div>